@using mommyandme.Models;
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html>


<head>
</head> 
<body style="background-color : lightpink">
    <div>
        @using (Html.BeginForm("About", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Mobile No/td>
                    <td><input type="text" name="Mobile" value="" /></td>
                </tr>
                <tr>
                    <td>Email/td>
                    <td><input type="text" name="Email" value="" /></td>
                </tr>
                <tr>
                    <td>Amount/td>
                    <td><input type="text" name="Amount" value="" /></td>
                </tr>
            </table>
            <pre><input type="submit" value="Save" /> </pre>
        }
    </div>
</body>


</html>
